[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/edureka/Desktop/firefox.desktop]
row=5
col=0

[/home/edureka/Desktop/README]
row=3
col=0

[/home/edureka/Desktop/sts4.desktop]
row=1
col=1

[/home/edureka/Desktop/sts4 (copy 1).desktop]
row=0
col=1

[/home/edureka/Desktop/exo-terminal-emulator.desktop]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/edureka]
row=2
col=0

